.container {
  display: grid;
  grid-template-columns: 900px 600px;
  background-color: #3366ff;
  background-image: url("index.jpeg");
}
.header{
  font-size: 40px;
  text-align: center;
  color: teal;
}
.top{
  font-size: 30px;
  text-align: center;
  color: teal;
}
.col-md-5 {
    max-width: 100% !important;
}
.col-md-4 {
    max-width: 100% !important;
}
